/vendor
/node_modules
.env

*.jpg
*.gif
*.png
*.avi
*.wmv
*.mp4
*.mov
*.pdf
*.swf
*.fla
Thumbs.db
.DS_Store
!/public/themes/ypp/assets/images/*
!/public/themes/ypp/assets/img/*
!/public/themes/lh/assets/images/*
!/public/themes/lh/assets/img/*
