.entry-content {
	max-height: 120px;
	overflow:   hidden;
}
#sites-dropdown {
	width: 200px;
}
.star-rating {
	display: inline-block;
}
.pagination-container {
	text-align: center;
}
.pagination {
	display: inline-block;
}
.breadcrumb-container {
	margin-bottom: 10px;
}
/**
 * Search form ajax.
 */
 .search-ajax-results {
   background: #383838;
 }
 .search-ajax-results .result-item {
   padding:       5px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
 }
 #top-search .search-ajax-results a {
   width:      100%;
   height:     auto;
   text-align: left;
   padding:    3px 5px;
 }
 .search-ajax-results img {
   float:          left;
   vertical-align: top;
   margin-right:   15px;
   width:          60px;
   height:         auto;
 }
 .search-ajax-results span {
   display: block;
   color:   #848484;
 }

 /* disable */
 .dark #wrapper, .dark #content, .dark .shop-quick-view-ajax, .dark .portfolio-ajax-modal, .dark .modal-content, .dark .css3-spinner, body.side-push-panel.dark #side-panel, body.side-push-panel #side-panel.dark {
   background: transparent;
 }

 /** FOR LH **/
 body {
  background: url("../img/bg-site.jpg") no-repeat center top;
  background-color: #222222 !important;
  background-size: 1800px 722px;
}

.content-wrap {
	padding: 20px 0px;
}
#page-menu nav li a {
  font-weight: bold;
  font-size: 18px;
  padding: 0 7px;
}
#page-menu nav li:first-child a {
	padding-left: 0px;
}
#page-menu nav li a:hover,
#page-menu nav li.current a {
	background: none;
	color: #aeb7ba;
}
#page-menu nav {
	float: none;
}
#primary-menu {
  border-top-color: rgba(255,255,255,0.1);
  display: block;
  color: #78868a;
  font-family: "fira-sans",Helvetica,Arial,sans-serif;
  background-color: #606b6f;
  background-image: -webkit-linear-gradient(#606b6f,#78868a);
  background-image: linear-gradient(#606b6f,#78868a);
}
#primary-menu ul li a {
	font-size: 15px;
  background: rgba(0,0,0,.35);
  color: #fff;
  font-weight: 500;
}
#header, #header-wrap,
#logo img,
#primary-menu:not(.style-2),
#primary-menu:not(.style-2) > ul {
	height: auto;
}
#primary-menu.style-2 > div #top-search,
#primary-menu.style-2 > div #top-cart,
#primary-menu.style-2 > div #side-panel-trigger {
	margin-top: 15px;
}
#primary-menu.style-2, #primary-menu.style-2 > div > ul,
#primary-menu.style-2 > div > ul > li > a {
	line-height: 40px;
	height: 40px;
}
.logo img {
  width: 16em;
  height: 1.8em;
  padding: .25em;
}
#page-menu-wrap {
	background-color: #0a0a0a;
}
#primary-menu ul li span {
  display: block;
  padding: 0 .5em;
  color: #0a0a0a;
  font-weight: 700;
  text-shadow: 1px 1px 0 #939ea2;
  text-transform: uppercase;
  font-size: 12px;
  font-size: .75rem;
}
.current {
  background: #0A0A0A;
}


/** scenes **/
#portfolio,
.item-container {
 margin: 0px auto 20px auto;
 padding: 10px;
 background: rgba(0,0,0,.4);
 border-radius: .25em;
 box-shadow: none;
 border: 2px #6c797d solid;
 overflow: hidden;
}
.portfolio-item {
  position: relative;
  float: left;
  width: 24.8%;
  padding: 0 10px 12px 0;
}
.portfolio-desc {
  z-index: 3;
  padding: 10px 5px 5px 10px;
  background: #191c1d;
  border: 0;
  box-shadow: 0 1px 0 #25292b;
  border-radius: 0;
  color: #78868a;
}
.portfolio-desc h3 {
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.entry-meta li {
  font-family: Helvetica,Arial,sans-serif;
  font-style: normal;
  margin: 0 10px 0px 0;
}
.entry-meta li a {
  color: #5fa6cc !important;
  font-weight: 600;
  text-decoration: none;
}
.item-basic-info li {
  width: 33.3333%;
  margin:0px;
  padding-left: 15px;
  padding-right: 15px;
}
.item-basic-info li:first-child {
  padding-left: 0px;
  padding-right: 10px;
}
.item-basic-info.dvds li {
  width: 50%;
}
.entry-meta li:before {
  content: none;
}
.portfolio-image .play-button {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding: 7.5%;
  opacity: 0 !important;
  z-index: 10;
  background: rgba(0,0,0,.7);
}
.hd {
  position: absolute;
  left: .25em;
  bottom: 0;
  display: block;
  width: 2.65em;
  height: 2.65em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  text-indent: -9999em;
  z-index: 10;
  background-image: url("../img/img-hd.png");
}
.portfolio-image:hover .play-button {
  opacity: 1;
}
.flexslider-custom {
  position: relative;
}
.exclusive {
  border-color: #191c1d;
  background-color: #e51616;
  background-image: -webkit-linear-gradient(bottom,#000 4%,#420606 10%,#9f0f0f);
  background-image: linear-gradient(to top,#000 4%,#420606 10%,#9f0f0f);
  font-size: 12px;
  font-size: .75rem;
  top: auto;
  bottom: 0;
  left: auto;
  right: .25em;
  position: absolute;
  border-radius: .2em;
  position: absolute;
  display: inline-block;
  padding: .25em .5em;
  border-left: 1px #0a0a0a solid;
  border-right: 1px #0a0a0a solid;
  border-top: 1px #0a0a0a solid;
  text-align: center;
  text-transform: uppercase;
  z-index: 5;
  font-weight: bold;
}
.btn-primary {
  display: inline-block;
  padding: .4em .75em;
  border-radius: .25em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
  font-size: 1rem;
  -webkit-transition: background .1s ease-in,border .1s ease-in,color .1s ease-in;
  -moz-transition: background .1s ease-in,border .1s ease-in,color .1s ease-in;
  transition: background .1s ease-in,border .1s ease-in,color .1s ease-in;
  background: #fff;
  border: 1px #cacfd1 solid;
  box-shadow: none;
  color: #191c1d;
  text-transform: normal;
  background-color: #9c9d9e;
  background-image: -webkit-linear-gradient(#9c9d9e,#f5f9fa);
  background-image: linear-gradient(#9c9d9e,#f5f9fa);
}
.btn-primary:hover {
  color: #191c1d;
  background-color: #9c9d9e;
}
.box-title {
  margin-bottom: 20px;
}

.account-opts {
  display: none !important;
}
.video-top {
  overflow: hidden;
  padding: 5px;
  background: #191c1d;
}
.video-top li {
  padding: 2px 10px;
}
.breadcrumb > li + li:before {
  content: "»";
  padding: 0 5px;
  color: #cccccc;
  font-size: 17px;
  margin-left: -25px;
}
.breadcrumb {
  overflow: hidden;
  position: static !important;
  padding: 0px 15px;
  background: rgba(0,0,0,.25) !important;
  border-bottom: 1px solid #0d0f0f;
  color: #777;
  margin-top: 0px !important;
}
.breadcrumb li a,
.breadcrumb li.active {
  font-size: 17px;
  color: #5fa6cc !important;
}
.breadcrumb li {
  padding: 10px 15px;
}
.entry-image {
  margin: 0px;
}
.col_one_fourth {
  margin: 0px 0px 15px;
  padding-right: 7px;
  width: 25%;
}
.col_one_sixth {
  margin: 0px 0px 15px;
  padding-right: 7px;
  width: 16.6666%;
}
.ipost .entry-meta li {
  margin: 0px;
}
.widget {
  margin: 0px;
}
.slide {
  position: relative;
}
.portfolio-single-content {
  margin-bottom: 10px;
}
#comments {
  padding-top: 0px;
  border: none;
  margin-top: 0px;
}
#playerDetail .comments .comment {
  overflow: inherit;
}
.view-page .content-wrap {
  padding: 0px;
}
#playerDetail .inner>div {
  margin: 0px;
}
#page-menu,
#page-menu-wrap {
  margin: -5px 0px -5px;
  height: 50px;
  line-height: 50px;
}
.scenes-list .col-md-6 {
  padding: 4px;
}
.scenes-list .title-wrapper {
  font-size: 15px;
  color: #fff;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.scenes-list .title-wrapper a {
  color: #fff;
}
.scenes-list .hd,
.scenes-list .exclusive {
  display: none;
}
.scenes-list .thumb-wrapper {
  position: relative;
}
.scenes-list .play-button {
  width: 92px;
  position: absolute;
  left: 50%;
  margin-left: -46px;
}
.play-button {
  padding: 12.5% 25%;
  background: rgba(0,0,0,.7);
  display: none;
  position: absolute !important;
  z-index: 10000;
  -webkit-transition: .2s all ease-in;
  -moz-transition: .2s all ease-in;
  transition: .2s all ease-in;
}
.top-banner {
  margin-top: -36px;
  border-top: 0px;
  padding-top: 0px;
  -webkit-border-bottom-right-radius: .25em;
  -webkit-border-bottom-left-radius: .25em;
  -moz-border-radius-bottomright: .25em;
  -moz-border-radius-bottomleft: .25em;
  border-bottom-right-radius: .25em;
  border-bottom-left-radius: .25em;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.ddn {
  display: none;
}
.dvd-box .label {
  text-align: left;
  padding-left: 0px;
}
.sf-js-enabled {
  display: none;
}
#primary-menu {
  background: #000;
}
#top-search form input {
  padding: 0px 80px 10px 0;
  margin-left: 30px;
}
#page-menu .menu-title {
  display: none;
}
.account-opts {
  position: absolute;
  top: 2em;
  left: -1em;
  margin-bottom: 0;
  background: #0a0a0a;
  z-index: 1000;
  height: auto !important;
}
.account-opts li {
  display: block;
  margin: .15em 0;
  text-align: right;
}
.account-opts li a {
  display: inline-block;
  padding: .25em .5em !important;
  border-radius: .2em;
  color: #d8dcdd;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-size: .875rem;
}
.pagination a {
  background: #191c1d;
  border: .1em #313638 solid;
  color: #fff;
}
.pagination li.active span,
.pagination li.disabled span {
  margin: 0px 10px;
  font-size: 26px;
  color: #BBB;
  background-color: rgba(255,255,255,0.1) !important;
  border-color: #666 !important;
  padding: .25em .75em;
  display: block;
  border-radius: 4px;
}
.btn.secondary:hover, .alpha-sorter li a:hover, .pagination a:hover, .btn.secondary:focus, .alpha-sorter li a:focus, .pagination a:focus {
  background: #010202;
  color: #fff;
}
.dvd-scene .label {
  text-align: left;
}
@media (min-width: 1550px){
  .container {
    max-width: 77.5em;
    width: 1550px;
  }
}
@media (max-width: 991px) {
  #page-menu-wrap .container {
    width: 100%;
  }
  #page-menu.pagemenu-active nav {
    display: block;
    width: 100%;
    margin-top: 8px;
  }
  #page-menu nav {
    background-color: #191C1D;
    right: 0px;
  }
  #page-menu nav ul {
    height: auto;
    background-color: rgba(0,0,0,1);
  }
  #page-menu nav li a {
    padding: 0 10px 0 15px;
  }
  #page-menu nav li.logo {
    display: none;
  }
  #page-submenu-trigger {
    right: 0px;
    left: auto;
  }
  #page-menu .menu-title {
    display: block;
    width: 250px;
  }
}

@media (max-width: 767px) {
  .col_one_fourth {
    width: 50%;
  }
  .container {
    width: 100% !important;
    padding: 0px;
  }
  #top-search-trigger {
    right: 40px !important;
    margin-top: 9px !important;
  }
  #primary-menu > div > #top-search a {
    margin-top: 9px !important;
  }
  #top-search form input {
    margin-left: 0px;
  }
  #playerDetail .menu .dropWrap {
    width: 100%;
  }
  #playerDetail .menu .dropWrap .drop {
    width: 100%;
  }
  .col_one_fourth {
    width: 50%;
    margin: 0px 0px 10px 0px !important;
    padding: 0px 4px;
    float: left;
  }
  .portfolio-single-content {
    margin-bottom: 10px !important;
  }
  #content .container {
    position: relative;
    background: #222;
  }
  #content .container .col-md-9 {
    padding: 0px;
  }
  #portfolio:not(.portfolio-1) .portfolio-item {
    width: 50%;
    margin: 0px;
    padding: 10px;
  }
  #portfolio:not(.portfolio-1) .portfolio-item .portfolio-image, #portfolio:not(.portfolio-1) .portfolio-item .portfolio-image a, #portfolio:not(.portfolio-1) .portfolio-item .portfolio-image img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 479px) {
 #top-search-trigger {
  right: 40px !important;
  margin-top: 9px !important;
}
#primary-menu > div > #top-search a {
  margin-top: 9px !important;
}
#top-search form input {
  margin-left: 0px;
}
}
/* test this again*/
